*{
  margin: 0;
  padding: 0;
}
:root {
    --primary-color: #1B9AAA; 
    --secondary-color: #ffffff;
    --background-color: #e8e7e1;
}
body {
    background-color: var(--background-color);
    font-family: "Noto Serif", serif; 
    color: var(--secondary-colour);
}
h1,h2 {
    color:var(--primary-color);
    font-size: 2em;
}
/* header starts */
header {
    background-color: var(--primary-color);
    color: var(--secondary-colour);
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
   
}
nav ul {
    
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
nav ul li {
    margin: 0 0.8rem;
    list-style: none;
}
nav ul li a {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
}
.intro {
    background-image: url(images/cover.jpg.jpg);
    height: 85vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intro-title {
    font-size: 2.3em;
}
.intro-description {
    color:var(--secondary-color)

}
.intro p {
    text-decoration: underline;
    background-color: #b2a4a4;
}
#skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#edu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contact h2 {
    text-align: center; 
}
main {
    width: 80%;
    margin: auto;
   /* padding: 1em;*/
   
}

table{
    width: 100%;
    border-collapse: collapse;
    margin: 8em 0;
}
table,th,td {
    border:1px solid #ddd;
    padding: 0.5em;
}
th {
    background-color:var(--primary-color);
    color:var(--secondary-color);
}
 
button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 0.5em 1.8em;
    border-radius: 0.5em;
    margin: 0.5em 0;
    cursor: pointer;
}
button:hover {
    background-color: #6ddae9;
}
.card{
    background-color:#ffffff;
    border-radius: 0.5em;
    margin: 1.8em;
    padding: 1.2em;
    box-shadow: 0 0.2em 0.4em #050505;  
      
}
.card:hover {
    box-shadow: 10px 10px 35px 2px rgba(0,0,0,0.75);
}
input,select,textarea {
    width: 100%;
    padding: 0.5em;
    margin: 0.5em 0;
    border-radius: 0.5em;
    box-sizing: border-box;
}

footer{
    background-color: var(--primary-color);
    text-align: center;
    width:100% ;
    padding:0.5em 0;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    
}
.copytext {
    color: var(--secondary-color);
    margin: 1em 0;
        
}

iframe {
    width: 90vw;
    height: 20em;
}
/*responsiveness starts--*/
@media screen and (max-width: 1200px){
   
}
@media screen and (max-width: 900px) {
   
}
@media screen and (max-width: 768px) {
   
}
@media screen and (max-width: 600px) {
    
}

    